<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>greenbox.jpg</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{14,13}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{12,11}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.22</real>
      <key>fps</key>
      <integer>0</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>green_tile.png</string>
      <key>size</key>
      <string>{64,64}</string>
      <key>textureFileName</key>
      <string>green_tile.png</string>
    </dict>
  </dict>
</plist>