<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tankwatch_0000</key>
      <dict>
        <key>frame</key>
        <string>{{836,829},{35,30}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,30.00}</string>
      </dict>
      <key>tankwatch_0001</key>
      <dict>
        <key>frame</key>
        <string>{{928,771},{6,88}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{6.00,88.00}</string>
      </dict>
      <key>tankwatch_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,849},{34,12}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{34.00,12.00}</string>
      </dict>
      <key>tankwatch_0003</key>
      <dict>
        <key>frame</key>
        <string>{{873,829},{33,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{33.00,35.00}</string>
      </dict>
      <key>tankwatch_0004</key>
      <dict>
        <key>frame</key>
        <string>{{733,771},{64,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{64.00,87.00}</string>
      </dict>
      <key>tankwatch_0005</key>
      <dict>
        <key>frame</key>
        <string>{{841,771},{40,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{40.00,56.00}</string>
      </dict>
      <key>tankwatch_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,771},{286,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{286.00,76.00}</string>
      </dict>
      <key>tankwatch_0007</key>
      <dict>
        <key>frame</key>
        <string>{{620,841},{16,26}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{16.00,26.00}</string>
      </dict>
      <key>tankwatch_0008</key>
      <dict>
        <key>frame</key>
        <string>{{37,859},{32,10}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{32.00,10.00}</string>
      </dict>
      <key>tankwatch_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1027,147},{79,141}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{79.00,141.00}</string>
      </dict>
      <key>tankwatch_0010</key>
      <dict>
        <key>frame</key>
        <string>{{914,771},{12,94}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{12.00,94.00}</string>
      </dict>
      <key>tankwatch_0011</key>
      <dict>
        <key>frame</key>
        <string>{{883,771},{29,29}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{29.00,29.00}</string>
      </dict>
      <key>tankwatch_0012</key>
      <dict>
        <key>frame</key>
        <string>{{638,841},{16,25}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{16.00,25.00}</string>
      </dict>
      <key>tankwatch_0013</key>
      <dict>
        <key>frame</key>
        <string>{{1027,290},{19,101}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{19.00,101.00}</string>
      </dict>
      <key>tankwatch_0014</key>
      <dict>
        <key>frame</key>
        <string>{{667,771},{64,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{64.00,87.00}</string>
      </dict>
      <key>tankwatch_0015</key>
      <dict>
        <key>frame</key>
        <string>{{799,771},{40,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{40.00,56.00}</string>
      </dict>
      <key>tankwatch_0016</key>
      <dict>
        <key>frame</key>
        <string>{{71,849},{32,10}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{32.00,10.00}</string>
      </dict>
      <key>tankwatch_0017</key>
      <dict>
        <key>frame</key>
        <string>{{1027,1},{79,144}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{79.00,144.00}</string>
      </dict>
      <key>tankwatch_0018</key>
      <dict>
        <key>frame</key>
        <string>{{289,771},{265,86}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{265.00,86.00}</string>
      </dict>
      <key>tankwatch_0019</key>
      <dict>
        <key>frame</key>
        <string>{{799,829},{35,30}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,30.00}</string>
      </dict>
      <key>tankwatch_0020</key>
      <dict>
        <key>frame</key>
        <string>{{588,841},{30,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,24.00}</string>
      </dict>
      <key>tankwatch_0021</key>
      <dict>
        <key>frame</key>
        <string>{{556,841},{30,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,24.00}</string>
      </dict>
      <key>tankwatch_0022</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{1024,768}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{1024.00,768.00}</string>
      </dict>
      <key>tankwatch_0023</key>
      <dict>
        <key>frame</key>
        <string>{{556,771},{109,68}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{109.00,68.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>tankwatch.png</string>
      <key>realTextureFileName</key>
      <string>tankwatch.png</string>
      <key>textureFileName</key>
      <string>tankwatch.png</string>
      <key>size</key>
      <string>{1126,870}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49286</real>
        <key>anchorY</key>
        <real>0.50667</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52500</real>
        <key>anchorY</key>
        <real>0.50341</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50735</real>
        <key>anchorY</key>
        <real>0.50417</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48636</real>
        <key>anchorY</key>
        <real>0.49714</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49609</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49286</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02378</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52500</real>
        <key>anchorY</key>
        <real>0.50769</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50625</real>
        <key>anchorY</key>
        <real>0.45500</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50570</real>
        <key>anchorY</key>
        <real>0.49858</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51667</real>
        <key>anchorY</key>
        <real>0.50266</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset23</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48621</real>
        <key>anchorY</key>
        <real>0.51379</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>asset24</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49062</real>
        <key>anchorY</key>
        <real>0.51000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>asset26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51053</real>
        <key>anchorY</key>
        <real>0.49802</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>asset27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49609</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>asset28</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49286</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>asset29</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50625</real>
        <key>anchorY</key>
        <real>0.45500</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>asset30</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50570</real>
        <key>anchorY</key>
        <real>0.49861</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>asset32</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49429</real>
        <key>anchorY</key>
        <real>0.50667</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>asset8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50833</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>asset9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50833</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>bg</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>scoreBg</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50046</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset31</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,486.75,239.20</string>
        <key>anchorX</key>
        <real>0.15716</real>
        <key>anchorY</key>
        <real>0.78909</real>
        <key>children</key>
        <dict>
          <key>i3933</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>182.90,96.05,0.00,0.78954,0.78954,0.79,4,0.00,0.00</string>
          </dict>
          <key>i3935</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>131.40,25.95,0.00,0.78954,0.78954,1.00,5,0.00,0.00</string>
          </dict>
          <key>i3937</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>76.50,107.45,0.00,0.50586,0.50586,0.77,6,0.00,0.00</string>
          </dict>
          <key>i3939</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>353.95,-6.95,0.00,0.78954,0.78954,0.61,7,0.00,0.00</string>
          </dict>
          <key>i3941</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>369.15,100.45,0.00,0.50586,0.50586,0.77,8,0.00,0.00</string>
          </dict>
          <key>i3943</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>268.05,52.05,0.00,0.78954,0.78954,1.00,9,0.00,0.00</string>
          </dict>
          <key>i3945</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>435.35,157.50,0.00,0.36331,0.36331,0.77,10,0.00,0.00</string>
          </dict>
          <key>i3947</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>124.45,-50.45,0.00,0.38055,0.38055,0.77,11,0.00,0.00</string>
          </dict>
          <key>i3925</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>153.00,0.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i3927</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>241.95,-37.95,0.00,0.78954,0.78954,0.61,1,0.00,0.00</string>
          </dict>
          <key>i3929</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>85.90,52.05,0.00,0.78954,0.78954,0.61,2,0.00,0.00</string>
          </dict>
          <key>i3931</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>257.85,40.35,0.00,0.92564,0.92564,0.56,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>cloudGroup</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1028.00,579.40</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i3973</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>877.30,-42.85,0.00,0.99840,0.99840,1.00,0,0.00,0.00</string>
          </dict>
          <key>i4123</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>1264.55,70.95,0.00,0.67627,0.67627,1.00,6,0.00,0.00</string>
          </dict>
          <key>i3998</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>590.40,-215.50,0.00,0.99840,0.99840,1.00,1,0.00,0.00</string>
          </dict>
          <key>i4023</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>611.75,121.05,0.00,0.67627,0.67627,1.00,2,0.00,0.00</string>
          </dict>
          <key>i4048</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>971.40,162.05,0.00,0.67627,0.67627,1.00,3,0.00,0.00</string>
          </dict>
          <key>i4073</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>1049.05,-255.60,0.00,0.67627,0.67627,1.00,4,0.00,0.00</string>
          </dict>
          <key>i4098</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>1264.55,-121.10,0.00,0.67627,0.67627,1.00,5,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>flag0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,81.80,103.00</string>
        <key>anchorX</key>
        <real>0.17115</real>
        <key>anchorY</key>
        <real>0.15534</real>
        <key>children</key>
        <dict>
          <key>i4174</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>55.50,-27.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i4182</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>26.75,-43.30,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i4176</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>46.25,-70.20,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i4178</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>28.00,4.15,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i4180</key>
          <dict>
            <key>class</key>
            <string>asset9</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>28.00,-0.70,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i4172</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>78.50,-38.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>flag1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,81.80,103.00</string>
        <key>anchorX</key>
        <real>0.18337</real>
        <key>anchorY</key>
        <real>0.15534</real>
        <key>children</key>
        <dict>
          <key>i4214</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>29.00,4.15,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i4216</key>
          <dict>
            <key>class</key>
            <string>asset9</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>29.00,-0.70,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i4218</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>29.20,-43.30,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i4208</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>79.50,-38.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i4210</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>56.50,-27.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i4212</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>48.75,-70.05,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>tank0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,84.90,142.40</string>
        <key>anchorX</key>
        <real>0.45936</real>
        <key>anchorY</key>
        <real>0.33287</real>
        <key>children</key>
        <dict>
          <key>i4258</key>
          <dict>
            <key>class</key>
            <string>asset23</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>77.85,-0.55,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i4252</key>
          <dict>
            <key>class</key>
            <string>asset28</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>77.95,-1.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i4260</key>
          <dict>
            <key>class</key>
            <string>asset24</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>78.45,-82.75,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>i4244</key>
          <dict>
            <key>class</key>
            <string>asset30</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>84.95,-23.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i4254</key>
          <dict>
            <key>class</key>
            <string>asset29</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>78.30,41.65,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i4246</key>
          <dict>
            <key>class</key>
            <string>asset26</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>108.15,-2.35,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i4256</key>
          <dict>
            <key>class</key>
            <string>asset22</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>78.25,-42.50,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i4248</key>
          <dict>
            <key>class</key>
            <string>asset26</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>47.70,-2.35,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i4250</key>
          <dict>
            <key>class</key>
            <string>asset27</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>77.90,-2.05,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>tank1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,86.45,139.40</string>
        <key>anchorX</key>
        <real>0.46270</real>
        <key>anchorY</key>
        <real>0.33465</real>
        <key>children</key>
        <dict>
          <key>i4294</key>
          <dict>
            <key>class</key>
            <string>asset16</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>78.95,-2.70,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i4288</key>
          <dict>
            <key>class</key>
            <string>asset18</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>93.05,-95.65,90.00,0.37112,0.37112,1.00,1,90.00,90.00</string>
          </dict>
          <key>i4296</key>
          <dict>
            <key>class</key>
            <string>asset17</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>78.95,-8.30,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i4290</key>
          <dict>
            <key>class</key>
            <string>asset26</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>109.20,-3.10,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i4292</key>
          <dict>
            <key>class</key>
            <string>asset26</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>48.70,-3.10,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i4298</key>
          <dict>
            <key>class</key>
            <string>asset19</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>78.95,29.05,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i4300</key>
          <dict>
            <key>class</key>
            <string>asset20</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>79.35,40.95,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i4286</key>
          <dict>
            <key>class</key>
            <string>asset21</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>87.45,-23.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>